.girls-scout-wrapper {
    background: url(../../assets/images/girls-scout-mid-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    img {
        width: 100%;
    }
}

.row {
  .image img {
    width: 100%;
  }
}
  


  
