.subsite{  
    .map-pin img {
        width: auto;
    }
    
    .form-white {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    }

    .form-white iframe {
    width: 100%;
    }

    .width-100 {
    width: 100%;
    }

    .team-row {
    justify-content: center;
    }

    .team-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    }

    .body-wrapper {
        background: url(../../assets/images/landing-page-mid-bkg.png);
        background-repeat: no-repeat;
        background-size: contain;
    
    }
}

// #westford {
    
// }