// .about-us-content {
//     //background: url(../../assets/images/Group-11.png);
//     background-repeat: no-repeat;

//     img {
//         width: 100%;
//     }
//   }
/* About Us Page Styles */
.about-us-wrapper {
    background: url(../../assets/images/grp-mid-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    img {
        width: 100%;
    }
}
  
  .about-us {
    .container .row {
        position: relative;
    } 
    .abs {
        position: absolute !important;
        top: 25%;
    }
  }
  
  .about-us .row .right {
    right: 0;
  }

  
