@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

html {
  width: 100vw;
}

body {
    font-family: 'Montserrat', sans-serif; 
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;

}

p {
  padding-bottom: 25px;
  line-height: 25px;
  font-size: 1.2rem;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bungee {
  font-family: 'Bungee Inline', cursive;
}

#codeWizNav .navbar-nav {
  justify-content: flex-end;
}

h1.bungee {
  font-size: 5rem;
}

h2.bungee {
  font-size: 4rem;
}

h3.bungee {
  font-size: 3rem;
}

h4.bungee {
  font-size: 2rem;
}

h5.bungee {
  font-size: 1rem;
}

/* .fa {
    color: #F47D20;
} */

button {
  border-radius: 45px !important;
  width: auto;
  height: 50px;
  padding: 0 35px 0 35px;
  color: white;
}

.orange-button {
  background-image: -moz-linear-gradient( 0deg, rgb(220,43,1) 0%, rgb(255,111,0) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(220,43,1) 0%, rgb(255,111,0) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(220,43,1) 0%, rgb(255,111,0) 100%);
  background: rgb(220,43,1);
  z-index: 76;
}

.blue-button {
  background-image: -moz-linear-gradient( 0deg, rgb(112,44,145) 0%, rgb(0,172,220) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(112,44,145) 0%, rgb(0,172,220) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(112,44,145) 0%, rgb(0,172,220) 100%);
  background: rgb(112,44,145);
  z-index: 76;
}

.center {
  text-align: center;
}

.btn-light-blue {
  background-color: #05ACDC;
  color: white;
}


.cw-dark-blue {
  color: #06324E;
}

.cw-light-blue {
  color: #05ACDC;
}

.cw-orange {
  color: #F47D20;
}

.cw-yellow {
  color: #FEE55B;
}

.visible-sm {
  display: none;
}

.hidden-sm {
  display: block;
}

.empty-space-large {
  height: 40vh;
}

.empty-space {
  height: 20vh;
}
.empty-space-half {
  height: 10vh;
}