/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

html {
  width: 100vw;
}

body {
    font-family: 'Montserrat', sans-serif; 
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;

}

p {
  padding-bottom: 25px;
  line-height: 25px;
  font-size: 1.2rem;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bungee {
  font-family: 'Bungee Inline', cursive;
}

#codeWizNav .navbar-nav {
  justify-content: flex-end;
}

h1.bungee {
  font-size: 5rem;
}

h2.bungee {
  font-size: 4rem;
}

h3.bungee {
  font-size: 3rem;
}

h4.bungee {
  font-size: 2rem;
}

h5.bungee {
  font-size: 1rem;
}

/* .fa {
    color: #F47D20;
} */
.center {
  text-align: center;
}


.visible-sm {
  display: none;
}

.hidden-sm {
  display: block;
}

.empty-space-large {
  height: 40vh;
}

.empty-space {
  height: 20vh;
}
.empty-space-half {
  height: 10vh;
}

.navbar-toggler {
  background-color: #06324E;
}